@font-face {
    font-family: "Mabry Pro";
    src: url("../fonts/MabryProLight.otf") format("opentype");
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: "Mabry Pro";
    src: url("../fonts/MabryPro.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Mabry Pro";
    src: url("../fonts/MabryProMedium.otf") format("opentype");
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: "Mabry Pro";
    src: url("../fonts/MabryProBold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Mabry Pro";
    src: url("../fonts/MabryProBlack.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Mabry Pro";
    src: url("../fonts/MabryProItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Mabry Pro";
    src: url("../fonts/MabryProBoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Mabry Pro";
    src: url("../fonts/MabryProLightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Mabry Pro";
    src: url("../fonts/MabryProMediumItalic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Mabry Pro";
    src: url("../fonts/MabryProBlackItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}