$black: #000000;
$white: #ffffff;
$grey: #9e9dac;
$red: #ff7777;
$hoverred: #ff5757;
$greyblue: #3d3c5a;
$lightblue: #89b2ff;
$violet: #cc5ef2;
$redshadow: rgba(255, 119, 119, 0.4);
$whiteopacity: rgba(255, 255, 255, 0.2);
$darkblue: #0c0b31;

$large: 1920px;
$normal: 1360px;
$normal-small: 770px;
$mobile-only: 1359px;
$mobile-only2: 719px;
$mobile-small: 517px;