$black: #000000;
$white: #ffffff;
$grey: #9e9dac;
$red: #ff7777;
$hoverred: #ff5757;
$greyblue: #3d3c5a;
$redshadow: rgba(255, 119, 119, 0.4);
$whiteopacity: rgba(255, 255, 255, 0.2);
$darkblue: #0c0b31;

$large: 1920px;
$normal: 1360px;
$mobile-only: 1359px;