.button {
    padding: 15px 40px 15px 40px;
    border: 1px solid $red;
    background-color: inherit;
    color: $red;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    line-height: 140%;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;

    @media (min-width: $normal) {
        padding: 15px 56px 18px 56px;
    }
}