.feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 45px;
    margin-bottom: 50px;

    @media (min-width: $normal-small) {
    }

    @media (min-width: $normal) {
        grid-column-gap: 80px;
        grid-template-columns: max-content 1fr;
    }
}

.feature__table {
    margin: 0;
}

.feature__table:nth-child(2) {
    @media (min-width: $normal) {
        grid-template-columns: 1;
        grid-template-columns: 2;
        grid-template-rows: 2;
        grid-template-rows: 3;
    }
}

.feature__table:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;

    @media (min-width: $normal-small) {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    @media (min-width: $normal) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

.feature__table:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;

    @media (min-width: $normal-small) {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    @media (min-width: $normal) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

.feature__value {
    margin-left: 0;
}

.feature__span {
    @media (max-width: $mobile-only) {
        box-sizing: border-box;
        padding-bottom: 10px;
        margin: 0 7px;
    }

    @media (min-width: $normal) {
        box-sizing: border-box;
        padding-bottom: 12px;
    }
}

.feature__key {
    margin-bottom: 18px;
}

.feature__text {
    margin-top: 10px;
}