.galery__wrapper {
    padding: 65px 0 65px 16px;
    overflow: hidden;

    @media (min-width: $normal) {
        padding: 140px 64px 140px 64px;
        width: 1230px;
        margin: 0 auto;
    }
}

.galery__title {
    margin-bottom: 60px;
}

.galery__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (max-width: $mobile-only) {
        width: 500%;
        transition: transform 0.8s ease;
    }
    
    @media (min-width: $normal) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap: 48px;
        grid-column-gap: 48px;
    }
}

.galery__item {
    width: 328px;
    height: 328px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;

    @media (max-width: $mobile-only) {
        overflow: hidden;
        float: left;
        margin-right: 16px;
    }

    @media (min-width: $normal) {
        width: 272px;
        height: 272px;
        position: relative;
    }

    &:first-child {
        @media (min-width: $normal) {
            width: 592px;
            height: 592px;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
        }
    }

    &:nth-child(2) .galery__image {
        width: 492px;
        height: 328px;
        position: absolute;
        left: -60px;

        @media (min-width: $normal) {
            width: 408px;
            height: 272px; 
            position: absolute;
            left: -60px;
        }
    }

    &:nth-child(3) .galery__image {
        width: 328px;
        height: 492px;
        position: absolute;
        top: -70px;

        @media (min-width: $normal) {
            width: 272px;
            height: 408px; 
            position: absolute;
            top: -70px;
        }
    }

    &:last-child .galery__image {
        width: 328px;
        height: 492px;
        position: absolute;
        top: -70px;
        
        @media (min-width: $normal) {
            width: 272px;
            height: 408px;
            position: absolute;
            top: -70px;
        }
    }
}

.galery__image {
    @media (min-width: $normal) {
        width: 272px;
        height: 272px;
    }

    &--size {
        @media (min-width: $normal) {
            width: 592px;
            height: 592px;
        }
    }
}