.info__wrapper {
    padding: 65px 16px 65px 16px;
}

.info__title {
    margin-bottom: 50px;

    &--margin {
        margin-bottom: 22px;
    }
}

.info__text {
    margin-bottom: 34px;

    &--margin {
        margin-bottom: 40px;
    }
}

.info__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.info__item {
    position: relative;
    padding-left: 20px;
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        width: 3px;
        height: 3px;
        background-color: $white;
    }

    &:last-child {
        &::before {
            background-color: inherit;
        }
    }
}