.info__wrapper {
    padding: 0 16px;
}

.info__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.info__item {
    position: relative;
    padding-left: 20px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        width: 3px;
        height: 3px;
        background-color: $white;
    }

    &:last-child {
        &::before {
            background-color: inherit;
        }
    }
}