.info__wrapper {
    padding: 65px 16px 65px 16px;

    @media (min-width: $normal) {
        padding: 30px 64px 135px 64px; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 155px;
        width: 1230px;
        margin: 0 auto;
    }
}

.info__title {
    margin-bottom: 50px;

    @media (min-width: $normal) {
        margin-bottom: 90px;
    }

    &--margin {
        margin-bottom: 22px;
    }
}

.info__text {
    margin-bottom: 34px;

    @media (min-width: $normal) {
        margin-bottom: 90px;
    }

    &--margin {
        margin-bottom: 40px;

        @media (min-width: $normal) {
            margin-bottom: 0;
        }
    }
}

.info__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $normal) {
        margin-top: 147px;
    }
}

.info__item {
    position: relative;
    padding-left: 20px;
    margin-bottom: 16px;

    @media (min-width: $normal) {
        margin-bottom: 40px;

        &:nth-child(4) {
            margin-bottom: 56px;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 12px;
        width: 3px;
        height: 3px;
        background-color: $white;

        @media (min-width: $normal) {
            width: 5px;
            height: 5px;
            top: 15px;
        }
    }

    &:last-child {
        &::before {
            background-color: inherit;
        }
    }
}