.page-header {
    padding: 10px 0;
    background-color: $darkblue;
    border-bottom: 1px solid $whiteopacity;
}

.page-header__wrapper {
    padding: 0 16px;
}

.page-header__logo {
    @media (max-width: $mobile-only) {
        display: none;
    }
}

.page-header__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header__toggle {
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 16px;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 28px;
    background-color: inherit;
    overflow: hidden;
}

.page-header__navigation--opened .page-header__toggle {
    &::before,
    &::after {
        position: absolute;
        content: "";
        top: 13px;
        left: -2px;
        width: 32px;
        height: 2px;
        background-color: $grey;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

.page-header__navigation--closed .page-header__toggle::before {
    position: absolute;
    content: "";
    top: 14px;
    left: 0;
    width: 32px;
    height: 2px;
    background-color: $grey;
    box-shadow:
        -15px 10px 0 0 $grey,
        0 -10px 0 0 $grey;
}

.page-header__navigation-list {
    list-style: none;
    margin: 0;
    padding: 70px 0 150px 0;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header__navigation-item {
    min-height: 80px;
}

.page-header__navigation-link {
    text-decoration: none;
    color: $white;
    opacity: 0.7;
}

.page-header__button {
    align-self: flex-end;
}

@media (max-width: $mobile-only) {
    .page-header__navigation--closed .page-header__navigation-list {
        display: none;
    }

    // .page-header__navigation--opened .page-header__navigation-list {
    //     display: block;
    // }

    // .page-header__navigation--nojs .page-header__toggle {
    //     display: none;
    // }
    
    // .page-header__navigation--nojs .page-header__navigation-list {
    //     display: block;
    // }
}