.promo {
    background-image: url("../images/site.png");
    background-repeat: no-repeat;
    background-position: 100% -15px;

    @media (min-width: $normal) {
        background-image: url("../images/site-normal.png");
    }

    @media (min-width: $large) {
        background-image: url("../images/site-large.png");
        background-position: 100% -50px;
    }
}

.promo__wrapper {
    padding: 315px 16px 65px 16px;
    display: flex;
    flex-direction: column;

    @media (min-width: $normal) {
        padding: 117px 64px 250px 64px;
        width: 1230px;
        margin: 0 auto;
    }
}

.promo__title {
    margin-bottom: 27px;
}

.promo__title br {
    @media (max-width: $mobile-only) {
        display: none;
    }
}

.promo__text {
    margin-bottom: 41px;

    @media (min-width: $normal) {
        width: 463px;
        margin-bottom: 71px;
    }
}

.promo__image {
    text-align: right;
}

.promo__button {
    align-self: flex-start;
    margin-bottom: 80px;

    @media (min-width: $normal) {
        margin-bottom: 286px;
    }
}

.promo__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.promo__item {
    padding-right: 50px;
    position: relative;

    &:nth-child(2n+1)::after {
        content: "";
        position: absolute;
        width: 1px;
        right: 23px;
        top: 4px;
        height: 16px;
        background-color: $whiteopacity;

        @media (min-width: $normal) {
            height: 26px;
            right: 34px;
        }
    }

    @media (min-width: $normal) {
        padding-right: 70px;

        &::after {
            content: "";
            position: absolute;
            width: 1px;
            right: 34px;
            top: 4px;
            height: 26px;
            background-color: $whiteopacity;
        }

        &:last-child::after {
            display: none;
        }
    }
}