.text {
    font-family: "Mabry Pro";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 0;

    @media (min-width: $normal) {
        font-size: 24px;
        line-height: 32px;
    }

    &--color {
        color: $red;
        text-decoration: none;
    }

    &--opacity {
        opacity: 0.7;
        font-size: 12px;
        line-height: 16px;

        @media (min-width: $normal) {
            font-size: 16px;
            line-height: 24px;
        }
    }
}