.title {
    font-family: "Mabry Pro";
    margin: 0;

    &--first {
        font-size: 40px;
        line-height: 48px;
        font-weight: 900;
        font-style: normal;

        @media (min-width: $normal) {
            font-size: 64px;
            line-height: 80px;
        }
    }

    &--second {
        font-size: 32px;
        line-height: 40px;
        font-weight: 900;
        font-style: normal;

        @media (min-width: $normal) {
            font-size: 48px;
            line-height: 56px;
        }
    }

    &--third {
        font-size: 24px;
        line-height: 32px;
        font-weight: 900;
        font-style: normal;

        @media (min-width: $normal) {
            font-size: 32px;
            line-height: 40px;
            font-weight: 700;
        }
    }

    &--date {
        font-size: 40px;
        line-height: 48px;
        font-weight: 300;
        font-style: normal;
        margin-right: 12px;

        @media (min-width: $normal) {
            font-size: 64px;
            line-height: 64px;
        }
    }

    &--align {
        @media (max-width: $mobile-only) {
            display: flex;
            align-items: center;
        }

        @media (min-width: $normal) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}