<footer id="footer" class="page-footer">
    <div class="page-footer__wrapper">
        <h2 class="page-footer__title title title--second">Ближайший<br> мастер-класс</h2>
        <div class="page-footer__container">
            <div class="feature">
                <dl class="feature__table">
                    <dt class="feature__key text text--opacity">Дата</dt>
                    <dd class="feature__value text"><span class="title title--date">14</span> сентября</dd>
                </dl>
                <dl class="feature__table">
                    <dt class="feature__key text text--opacity">Старт</dt>
                    <dd class="feature__value text"><span class="title title--date title--align">11 <span class="feature__span">:</span> 00</span></dd>
                </dl>
                <dl class="feature__table">
                    <dt class="feature__key text text--opacity">Место</dt>
                    <dd class="feature__value text">Екатеринбург, ул. Карла Либнекхта, 22,<br> БЦ Консул, Офис 315, пространство PXL PRO</dd>
                </dl>
                <dl class="feature__table">
                    <dt class="feature__key text text--opacity">Участие</dt>
                    <dd class="feature__value text">
                        Бесплатно, по предварительной регистрации
                        <p class="feature__text text text--color">Количество мест ограничено!</p>
                    </dd>
                </dl>
            </div>
            <div class="page-footer__reference">
                <p class="page-footer__reference-text text">
                    С парковками, признаемся, у нас обычно сложно, поэтому лучше приехать заранее, чтобы найти парковочное место
                </p>
            </div>
            <iframe class="page-footer__map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8729.182377335828!2d60.6120474!3d56.8408734!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8d2e07bf6c915f6a!2z0KPQmiAi0JrQsNGA0LvQsCDQm9C40LHQutC90LXRhdGC0LAgMjIi!5e0!3m2!1sru!2sru!4v1612189004618!5m2!1sru!2sru" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</footer>