<footer class="page-footer">
    <h2 class="page-footer__title title title--second">Ближайший мастер-класс</h2>
    <dl class="feature">
        <dt class="feature__key">Дата</dt>
        <dd class="feature__value">14 сентября</dd>
    </dl>
    <dl class="feature">
        <dt class="feature__key">Старт</dt>
        <dd class="feature__value">11:00</dd>
    </dl>
    <dl class="feature">
        <dt class="feature__key">Место</dt>
        <dd class="feature__value" Екатеринбург, ул. Карла Либнекхта, 22, БЦ Консул, Офис 315, пространство PXL PRO</dd>
    </dl>
    <dl class="feature">
        <dt class="feature__key">Участие</dt>
        <dd class="feature__value">
            Бесплатно, по предварительной регистрации
            <p class="text text--color">Количество мест ограничено!</p>
        </dd>
    </dl>
    <div class="page-footer__reference">
        <p class="page-footer__reference-text text">
            С парковками, признаемся, у нас обычно сложно, поэтому лучше приехать заранее, чтобы найти парковочное место
        </p>
    </div>
    <img class="page-footer__map" width="344" height="344" src="assets/images/map.png">
</footer>