<footer class="page-footer">
    <div class="page-footer__wrapper">
        <h2 class="page-footer__title title title--second">Ближайший мастер-класс</h2>
        <div class="page-footer__container">
            <div class="feature">
                <dl class="feature__table">
                    <dt class="feature__key text text--opacity">Дата</dt>
                    <dd class="feature__value text"><span class="title title--date">14</span> сентября</dd>
                </dl>
                <dl class="feature__table">
                    <dt class="feature__key text text--opacity">Старт</dt>
                    <dd class="feature__value text"><span class="title title--date">11 : 00</span></dd>
                </dl>
                <dl class="feature__table">
                    <dt class="feature__key text text--opacity">Место</dt>
                    <dd class="feature__value text">Екатеринбург, ул. Карла Либнекхта, 22,<br> БЦ Консул, Офис 315, пространство PXL PRO</dd>
                </dl>
                <dl class="feature__table">
                    <dt class="feature__key text text--opacity">Участие</dt>
                    <dd class="feature__value text">
                        Бесплатно, по предварительной регистрации
                        <p class="feature__text text text--color">Количество мест ограничено!</p>
                    </dd>
                </dl>
            </div>
            <div class="page-footer__reference">
                <p class="page-footer__reference-text text">
                    С парковками, признаемся, у нас обычно сложно, поэтому лучше приехать заранее, чтобы найти парковочное место
                </p>
            </div>
            <img class="page-footer__map" width="344" height="344" src="assets/images/map.png">
        </div>
    </div>
</footer>