<header class="page-header">
    <div class="page-header__wrapper">
        <nav class="page-header__navigation page-header__navigation--closed page-header__navigation--nojs">
            <svg class="page-header__logo" width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40.6583 38V17.0707H31.9876L27.5028 34.5915L23.018 17.0707H14.3473V38H19.1311V19.5822L23.9149 38H31.0907L35.8745 19.5822V38H40.6583Z" fill="#89B2FF"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M27.5 50C39.9264 50 50 39.9264 50 27.5C50 15.0736 39.9264 5 27.5 5C15.0736 5 5 15.0736 5 27.5C5 39.9264 15.0736 50 27.5 50ZM27.5 55C42.6878 55 55 42.6878 55 27.5C55 12.3122 42.6878 0 27.5 0C12.3122 0 0 12.3122 0 27.5C0 42.6878 12.3122 55 27.5 55Z" fill="#89B2FF"/>
            </svg>
            <button class="page-header__toggle" type="button"><span class="visually-hidden">Открыть меню</span></button>
            <ul class="page-header__navigation-list">
                <li class="page-header__navigation-item">
                    <a href="" class="page-header__navigation-link">
                        О чем это
                    </a>
                </li>
                <li class="page-header__navigation-item">
                    <a href="" class="page-header__navigation-link">
                        Программа
                    </a>
                </li>
                <li class="page-header__navigation-item">
                    <a href="" class="page-header__navigation-link">
                        Мастер-классы
                    </a>
                </li>
                <li class="page-header__navigation-item">
                    <a href="" class="page-header__navigation-link">
                        Галерея
                    </a>
                </li>
                <li class="page-header__navigation-item">
                    <a href="" class="page-header__navigation-link">
                        Ближайший мастер-класс
                    </a>
                </li>
            </ul>
            <a href="" class="page-header__button button">Записаться</a>
        </nav>
    </div>
</header>